@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    font-family: 'Cutive Mono', monospace;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #000000;
    padding: 1.5rem 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
    color: #FFFFFF;
}

h1 {
    margin-bottom: 4rem;
    color: #FFFFFF;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

input[type="text"] {
    padding: 0.5rem;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Cutive Mono', monospace;
    margin-right: 10px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cutive Mono', monospace;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

button:hover {
    background-color: #a7a7a7;
}

.weather-info {
    margin-top: 1.5rem;
    text-align: left
}

.weather-info h2 {
    margin-bottom: 1rem;
    color: #FFFFFF;
}

.weather-info p {
    margin: 0.5rem 0;
}

.footer {
    margin-top: 5rem;
    font-size: 0.875rem;
    color: #FFFFFF;
}

.social-media {
    margin-top: 0.5rem;
}

.social-media a {
    color: #FFFFFF;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1.125rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #a7a7a7;
}

.footer p {
    margin-top: 0.25rem;
}